# ==== LIVE (Production) ====
# EXPO_PUBLIC_BASE_URL=https://demo.ranx24.com

# ==== LOCAL (Development) ====
EXPO_PUBLIC_BASE_URL=http://127.0.0.1:5500

# ==== IMAGE URL ====
EXPO_PUBLIC_IMAGE_URL=https://demo.ranx24.com
