# ==== LIVE (Production) ====
# EXPO_PUBLIC_API_URL=https://your-production-url.com/api

# ==== LOCAL (Development) ====
EXPO_PUBLIC_API_URL=http://127.0.0.1:5500/api

# ==== IMAGE URL ====
EXPO_PUBLIC_IMAGE_URL=https://your-production-url.com
